.wrapper-tabs {
  @apply flex flex-row;
  @apply overflow-x-auto;
  @apply border-b;

  .tab {
    @apply relative;
    @apply flex flex-row;
    @apply items-center;
    @apply px-6;
    @apply py-1.5;
    @apply cursor-pointer;
    @apply text-gray-700;
    @apply text-base xs:text-sm;
  }

  .tab-active {
    @apply relative;
    @apply flex flex-row;
    @apply items-center;
    @apply px-6;
    @apply py-1.5;
    @apply cursor-pointer;
    @apply text-blue-1;
    @apply font-medium;
    @apply text-base xs:text-sm;

    &::before {
      content: '';

      @apply h-0.5;
      @apply w-full;
      @apply absolute;
      @apply bottom-0;
      @apply left-0;
      @apply bg-blue-1;

      -webkit-animation-name: extendsanimate; /* Fade in the background */
      -webkit-animation-duration: 0.4s;
      animation-name: extendsanimate;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper-tabs::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper-tabs {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
