.wrapper-home-page {
  @apply min-h-screen;
  @apply flex flex-col;
  @apply justify-center;
  @apply items-center;
  @apply gap-5;
  @apply px-5;

  .goose-logo {
    @apply flex flex-row;
    @apply gap-5;

    .font-goose-blue {
      @apply text-blue-1;
      @apply font-semibold;
      @apply text-7xl phone:text-5xl;

      font-family: GoogleEyes, sans-serif;
    }

    .font-goose-red {
      @apply text-red-1;
      @apply font-semibold;
      @apply text-7xl phone:text-5xl;

      font-family: GoogleEyes, sans-serif;
    }

    .font-goose-yellow {
      @apply text-yellow-1;
      @apply font-semibold;
      @apply text-7xl phone:text-5xl;

      font-family: GoogleEyes, sans-serif;
    }

    .font-goose-green {
      @apply text-green-1;
      @apply font-semibold;
      @apply text-7xl phone:text-5xl;

      font-family: GoogleEyes, sans-serif;
    }
  }
}
